@{
    ViewBag.Title = "Advisor";
}


<div class="jumbo-header">
    Please answer all the below questions
</div>

<div class="jumbotron jumbo-qs">

    <div class="jumbo-question">
        1. What is the status of your existing checking account?
    </div>

    <div class="jumbo-options">
        <div class="jumbo-option">
            Amount <= 0
        </div>
        <div class="jumbo-option">
            Amount <= 200,000
        </div>
        <div class="jumbo-option">
            Amount > 200,000
        </div>
        <div class="jumbo-option">
            No Checking Account
        </div>
    </div>


    <div class="button-group">
        <div class="btn btn-warning previous-button">Previous</div>
        <div class="btn btn-warning next-button">Next</div>
    </div>

</div>

