@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">Answer some easy questions and find out which financial investments are suitable for you using our AzureML powered Financial Investment Advisor.</p>
    <p>@Html.ActionLink("Start Now", "Question", "Advisor", null, new { @class = "btn btn-warning btn-lg" })</p>
</div>

